{% extends "base.html" %}

{% block title %}Home - RRRxProtoPNet{% endblock %}

{% block content %}
<h1>Welcome to RRRxProtopNet</h1>
<p>This is the homepage of our Project for the course Interactive Learning. Use the navigation bar to access the different sections of the application:</p>
<div>
    <ul>
        <li><strong>Datasets:</strong> Manage and upload datasets for training.</li>
        <li><strong>Model Training:</strong> Configure and initiate model training.</li>
        <li><strong>Training Overview:</strong> View past training sessions and their results.</li>
        <li><strong>Segment Images:</strong> Segment images of the available datasets to ensure relevant prototypes.</li>
    </ul>
</div>
{% endblock %}
